/* 00656a  007896 */
/*     radial-gradient(ellipse 80% 50% at 50% 100%, #003c58, transparent),
radial-gradient(ellipse 100% 40% at 140% 30%, #005a79,transparent),
radial-gradient(ellipse 100% 40% at -40% 30%, #005a79,#00111d); */

:root {
  --font: "Tajawal", sans-serif;

  --xxxl: clamp(1rem, 8vw, 5rem);
  --xxl: clamp(1rem, 7vw, 4rem);
  --xl: clamp(0.75rem, 2vw, 1.75rem);
  --l: clamp(0.5rem, 3vw, 1.5rem);
  --m: clamp(0.5rem, 2vw, 1.25rem);
  --s: clamp(0.5rem, 1vw, 1rem);

  --accent1: #101418;
  --accent2: #e3f1e8;
  --accent3: #101418c2;
  --primary1: #c5fcee;
  --primary2: #66fff5;
  --primary3: #008080;
  --secondary1: #354b45;
  --secondary2: #00ac87;
  --secondary3: #ff003a;
  --dominant1: #00ffe0;
  --dominant2: #ff5733;
  --dominant3: #5c00ff;
}

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body {
  background-color: var(--accent1);
  color: white;
  font-family: var(--font);
  margin: 0;
  padding: 0;
  cursor: default;
  font-weight: 300;
}
button {
  border: none;
  border-radius: 0.5vh;
  transition: all 0.2s ease-in-out;
  font-size: var(--l);
  padding: clamp(1rem, 1vw, 5rem);
  margin: clamp(1rem, 1vw, 5rem);
}
button:hover {
  border-radius: 1vh;
  cursor: pointer;
  transform: scale(1.1, 1);
}
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: min(90%, 100%);
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: white;
}

/* .home header {
  font-family: var(--font);
  background-color: var(--accent2);
  border-bottom: 1px solid var(--accent1);
  padding-top: clamp(1vh, 1.5vh, 4vh);
  padding-bottom: clamp(1vh, 1.55vh, 4vh);
}
.home nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home header a {
  color: var(--accent2);
}
.home header .left {
  flex: 3;
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.home header .left img {
  max-width: clamp(50px, 60px, 70px);
}
.home header .center {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  flex-direction: column;
}
.home header .center a {
  margin: 0 1vw;
  font-size: var(--xl);
  transition: all 0.2s ease-in-out;
}
.home header .center a:hover {
  color: var(--secondary2);
}
.home header .right {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
 */
.home header {
  font-family: var(--font);
  background-color: var(--accent2);
  border-bottom: 1px solid var(--accent1);
  padding-top: clamp(1vh, 1.5vh, 4vh);
  padding-bottom: clamp(1vh, 1.55vh, 4vh);
}
.home nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home header a {
  color: var(--accent1);
}
.home header .left {
  flex: 1;
  display: flex;
  justify-content: right;
}
.home header .left img {
  max-width: clamp(50px, 60px, 70px);
}
.home header .center {
  display: flex;
  flex: 3;
  justify-content: left;
}
.home header .center a {
  margin: 0 1vw;
  font-size: var(--xl);
  transition: all 0.2s ease-in-out;
}
.home header .center a:hover {
  color: var(--secondary2);
}
.home header .right {
  flex: 2;
  display: flex;
  justify-content: center;
}
.home header .right button {
  margin: 0 0.5rem;
  padding: clamp(0.3rem, 0.8vw, 5rem);
  background-color: var(--dominant1);
  color: var(--accent1);
  font-size: var(--m);
  border: 1px solid var(--accent1);
}
.home header .right .btn {
  background-color: transparent;
  color: var(--accent1);
}
.home header .right button:hover {
  background-color: transparent;
  color: var(--accent1);
  border: 1px solid var(--secondary1);
}
.home header .right .btn:hover {
  background-color: var(--accent1);
  border: 1px solid var(--accent1);
  color: var(--dominant1);
}
footer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
footer .upper {
  margin: 8vh 0;
}
footer .section2 a {
  font-size: var(--m);
  transition: all 0.3s ease-in-out;
  font-weight: 400;
}
footer .section2 a:hover {
  border-bottom: 1px solid var(--dominant1);
}
footer .upper img {
  margin-bottom: 2vh;
  transition: all 0.2s ease-in-out;
}
footer .upper img:hover {
  transform: scale(1.2, 1.2);
}
footer .down {
  font-size: var(--m);
  padding-top: 2vh;
  margin-bottom: 5vh;
  border-top: 1px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 200;
}
footer .down a {
  transition: all 0.2s ease-in-out;
}
footer .down a:hover {
  text-shadow: 0 0 1vh white;
}
.home-section1 {
  height: 90vh;
}
.home-section1 h1 {
  text-align: center;
  font-size: var(--xxl);
}
.home-section1 p {
  text-align: center;
  font-weight: 100;
  font-size: var(--l);
}
.home-section1 .btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: var(--l);
}
.home-section1 button {
  background-color: var(--dominant1);
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0,  0, 0.11));
}
.home-section1 .btn {
  background-color: transparent;
  border: 1px solid var(--accent2);
  color: var(--accent2);
}
.home-section1 button:hover {
  box-shadow: 0 0 1rem 0.1rem var(--dominant1);
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0,  0, 0.11));
}
.home-section1 .btn:hover {
  box-shadow: 0 0 1rem 0.1rem var(--accent2);
  background-color: var(--accent2);
  color: var(--accent1);
}

.home-section2 {
  background-color: var(--accent2);
  color: var(--accent1);
  width: min(100%, 100%);
}
.home-section2 article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  text-align: center;
}
.home-section2 .section1 {
  font-family: var(--font);
  display: flex;
  align-items: end;
  justify-content: center;
  flex: 1;
  width: min(90%, 100%);
}
.home-section2 .section1 h1 {
  font-size: var(--xxl);
  text-align: center;
}
.home-section2 .section2 {
  font-family: var(--font);
  display: flex;
  max-width: 90%;
  flex: 3;
}
.home-section2 .section2 h1 {
  font-size: var(--xl);
  font-weight: bold;
}
.home-section2 .section2 h2 {
  font-size: var(--m);
  font-weight: 500;
}
.home-section2 .section2 summary {
  list-style: none;
  font-size: var(--l);
  font-weight: 500;
  cursor: pointer;
}
.home-section2 .article3 div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.home-section2 i.fa-user-tie {
  color: var(--dominant1);
  font-size: var(--xxl);
}
.home-section2 i.fa-youtube {
  color: red;
  font-size: var(--xxl);
}
.home-section2 i.fa-twitch {
  color: rgb(98, 0, 255);
  font-size: var(--xxl);
}
.home-section2 i.fa-kickstarter {
  color: rgb(0, 255, 0);
  font-size: var(--xxl);
}
.home-section2 button {
  font: var(--m) var(--font);
  background-color: var(--accent2);
  padding: 0.5rem 1.5rem;
  border-radius: 1vh;
  box-shadow: 0 0 0.1rem 0.1rem var(--accent3);
}
.home-section2 button:hover {
  box-shadow: 0 0 1.3rem 1px var(--accent1);
}
.home-section2 .article1 button {
  color: var(--dominant1);
  box-shadow: 0 0 0.1rem 1px var(--dominant1);
}
.home-section2 .article2 button {
  color: red;
  box-shadow: 0 0 0.1rem 1px red;
}
.home-section2 .article3 button {
  color: rgb(98, 0, 255);
  box-shadow: 0 0 0.1rem 1px rgb(98, 0, 255);
}
.home-section2 .article1 button:hover {
  color: var(--dominant1);
  box-shadow: 0 0 1.3rem 1px var(--dominant1);
}
.home-section2 .article2 button:hover {
  color: red;
  box-shadow: 0 0 1.3rem 1px red;
}
.home-section2 .article3 button:hover {
  color: rgb(0, 255, 0);
  box-shadow: 0 0 1.3rem 1px rgb(0, 255, 0);
}
.home-section3 {
  background-color: var(--dominant1);
  color: var(--accent1);
  font-size: var(--m);
  display: grid;
  width: min(100%, 100%);
}
.home-article {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.home-article p {
  margin: 0;
}
.home-section3 .article1 {
  font-size: var(--l);
  display: grid;
  align-content: center;
}
.home-section3 .article1 h1 {
  font-size: var(--xl);
  display: inline;
}
.home-section3 .article2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-weight: 400;
}
.home-section3 .article2 i.fa-youtube {
  color: red;
  margin-right: 2%;
}
.home-section3 .article2 i.fa-twitch {
  color: rgb(98, 0, 255);
  margin-right: 2%;
}
.home-section3 .article2 i.fa-envelope {
  color: var(--accent1);
}
.home-section3 .name {
  font-weight: bold;
}
.home-section3 .description {
  margin-top: 5%;
  margin-bottom: 5%;
}

.home-section3 .article3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-section3 .article3 .contactus {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 1rem;
}
.home-section3 .article3 button {
  font: var(--m) var(--font);
  background-color: var(--accent2);
  padding: 0.5rem 1.5rem;
  box-shadow: 0 0 1rem 0.1rem var(--accent2);
}
.home-section3 .article3 a {
  background-color: var(--accent1);
  padding: 0.5rem 1.5rem;
  margin: 1rem 0;
  transition: all 0.2s ease-in-out;
}
.home-section3 .article3 button:hover {
  transform: translateY(-0.5em);
  color: var(--dominant1);
  box-shadow: 0 0 1rem 0.1rem var(--accent1);
  background-color: var(--accent1);
}
.home-section3 .article3 a:hover {
  transform: translateY(-0.5em);
  color: var(--dominant1);
  box-shadow: 0 0 1rem 0.1rem var(--accent1);
  background-color: var(--accent2);
  border-radius: 1vh;
}
.home-section4 {
  background-color: var(--accent2);
  color: var(--accent1);
  font-size: var(--l);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min(100%, 100%);
}
.home-section4 .article {
  flex: 2;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-section4 h1 {
  font-size: var(--xxxl);
}
.home-section4 p {
  font-size: var(--xl);
  margin: 0;
}
.home-section4 .article span {
  font-weight: bold;
}
/*  */
.rules-section {
  font-size: var(--m);
  background-color: var(--accent3);
  width: min(100%, 100%);
  text-align: right;
  height: 100%;
  padding-top: clamp(1rem, 5vw, 6rem);
  padding-bottom: clamp(1rem, 5vw, 6rem);
}
.rules-section .article {
  width: min(70%, 100%);
  margin-top: 5%;
}
.rules-section .article h1 {
  font-size: var(--xxl);
}
.rules-section .rules {
  max-width: 60%;
  margin: 0 auto;
  margin-top: clamp(1rem, 7vh, 10vh);
  margin-bottom: clamp(1rem, 7vh, 10vh);
}
.rules-section details {
  text-align: center;
  margin-top: clamp(1rem, 3vh, 6vh);
  margin-bottom: clamp(1rem, 3vh, 6vh);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.rules-section details[open] summary {
  color: var(--dominant1);
  text-shadow: 0 0 1rem var(--dominant1);
}
.rules-section summary {
  list-style: none;
  font-size: var(--l);
  transition: all 0.2s ease-in-out;
  font-weight: 600;
}
.rules-section summary:hover {
  cursor: pointer;
  color: var(--dominant1);
}
.rules-section .type1 ol li {
  font-size: var(--m);
}
.rules-section .type1 ol li p, .rules-section .type2 ul {
  color: rgba(255, 255, 255, 0.6);
  font-size: var(--s);
  margin-top: 0.1rem;
}
.rules-section .type2 .li {
  margin: 1rem 0;
}
.rules-section .type2 ul li:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.8);
}
.rules-section .type3 ol {
  margin: 0 auto;
  padding-bottom: clamp(1rem, 1vh, 2rem);
}
.rules-section .type3 ol li {
  padding-bottom: clamp(1rem, 1vh, 2rem);
  color: rgba(255, 255, 255, 0.8);
}
.rules-section .type3 ol li:hover {
  text-decoration: underline;
  color: white;
}
.rules-section .type4 ol li {
  padding-bottom: clamp(1rem, 1vh, 2rem);
  color: rgba(255, 255, 255, 0.9);
}
.rules-section .type4 ol li:hover {
  text-decoration: underline;
  color: white;
}
.rules-section .type4 ol .li:hover {
  text-decoration: none;
}

.apply-section {
  height: 100%;
}
.apply-section h1 {
  font-size: var(--xxl);
}
.apply-section .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2vw;
  width: min(100%, 100%);
  flex-wrap: wrap;
}
.apply-section .mo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 1 29%;
  border-radius: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease-in-out;
  padding: 1rem 1rem;
}
.apply-section .mo:hover {
  box-shadow: 0 0 1rem 0.1rem rgba(128, 128, 128, 0.5);
}
.apply-section .box h1 {
  font-weight: bold;
  font-size: var(--xl);
}
.apply-section .title {
  font-weight: bold;
  font-size: var(--m);
  text-align: center;
}
.apply-section .requirement p {
  font-size: var(--m);
  text-align: center;
  font-weight: bolder;
}
.apply-section .btns {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
.apply-section a {
  background-color: var(--accent2);
  color: var(--secondary1);
  font-size: var(--m);
  font-weight: bold;
  border-radius: 1vh;
  padding-left: clamp(1rem, 2rem, 3rem);
  padding-right: clamp(1rem, 2rem, 3rem);
  padding-top: clamp(0.3rem, 1rem, 3rem);
  padding-bottom: clamp(0.3rem, 1rem, 3rem);
  transition: all 0.2s ease-in-out;
}
.apply-section a:hover {
  background-color: var(--dominant1);
  transform: scale(1.1, 1.1);
  box-shadow: 0 0 1rem 0.1rem rgba(128, 128, 128, 0.5);
}