/* 00656a  007896 */
/*     radial-gradient(ellipse 80% 50% at 50% 100%, #003c58, transparent),
radial-gradient(ellipse 100% 40% at 140% 30%, #005a79,transparent),
radial-gradient(ellipse 100% 40% at -40% 30%, #005a79,#00111d); */

:root {
  --font: "Tajawal", sans-serif;

  --xxxl: clamp(1rem, 8vw, 5rem);
  --xxl: clamp(1rem, 7vw, 4rem);
  --xl: clamp(0.75rem, 2vw, 1.75rem);
  --l: clamp(0.5rem, 3vw, 1.5rem);
  --m: clamp(0.5rem, 2vw, 1.25rem);
  --s: clamp(0.5rem, 1vw, 1rem);

  --accent1: #101418;
  --accent2: #e3f1e8;
  --accent3: #10141875;
  --primary: #c5fcee;
  --dominant: #00ffda;
}

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body {
  background-color: var(--accent1);
  color: white;
  font-family: var(--font);
  margin: 0;
  padding: 0;
  cursor: default;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: white;
}
.home nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-family: var(--font);
  background-color: white;
  backdrop-filter: blur(1vh);
  z-index: 2;
  border-bottom: 1px solid var(--accent1);
  height: min(10vh, 15vh);
}
.home nav a {
  color: var(--accent1);
}
.home nav .left {
  flex: 1;
}
.home nav .left img {
  max-width: clamp(50px, 60px, 70px);
}
.home nav .center {
  display: flex;
  flex: 3;
  justify-content: left;
}
.home nav .center a {
  margin: 0 1vw;
  font-size: var(--l);
}
.home nav .right {
  flex: 2;
  justify-content: center;
}
.home nav .right button {
  margin: 0 0.5rem;
  padding: clamp(0.3rem, 1vw, 5rem);
  background-color: var(--accent1);
  color: var(--accent2);
  font-size: var(--m);
}
.home nav .right .btn {
  background-color: transparent;
  border: 1px solid var(--accent1);
  color: var(--accent1);
}
.home nav .right button:hover {
  background-color: transparent;
  color: var(--accent1);
  border: 1px solid var(--accent1);
}
.home nav .right .btn:hover {
  background-color: var(--accent1);
  border: 1px solid var(--accent2);
  color: var(--accent2);
}
button {
  border: none;
  transition: all 0.2s ease-in-out;
  font-size: var(--l);
  padding: clamp(1rem, 1vw, 5rem);
  margin: clamp(1rem, 1vw, 5rem);
}
button:hover {
  border-radius: 1vh;
  cursor: pointer;
  transform: scale(1.1, 1);
}
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: min(90%, 100%);
  margin: 0 auto;
}
.home-section1 h1 {
  text-align: center;
  font-size: var(--xxl);
}
.home-section1 p {
  text-align: center;
  font-weight: 100;
  font-size: var(--l);
}
.home-section1 .btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: var(--l);
}
.home-section1 button {
  background-color: var(--dominant);
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0,  0, 0.11));
}
.home-section1 .btn {
  background-color: transparent;
  border: 1px solid var(--accent2);
  color: var(--accent2);
}
.home-section1 button:hover {
  box-shadow: 0 0 1rem 0.1rem var(--dominant);
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0,  0, 0.11));
}
.home-section1 .btn:hover {
  box-shadow: 0 0 1rem 0.1rem var(--accent2);
  background-color: var(--accent2);
  color: var(--accent1);
}

.home-section2 {
  background-color: var(--accent2);
  color: var(--accent1);
  width: min(100%, 100%);
}
.home-section2 article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  text-align: center;
}
.home-section2 .section1 {
  font-family: var(--font);
  display: flex;
  align-items: end;
  justify-content: center;
  flex: 1;
  width: min(90%, 100%);
}
.home-section2 .section1 h1 {
  font-size: var(--xxl);
  text-align: center;
}
.home-section2 .section2 {
  font-family: var(--font);
  display: flex;
  max-width: 90%;
  flex: 3;
}
.home-section2 .section2 h1 {
  font-size: var(--xl);
  font-weight: bold;
}
.home-section2 .section2 h2 {
  font-size: var(--m);
  font-weight: 500;
}
.home-section2 .section2 summary {
  list-style: none;
  font-size: var(--l);
  font-weight: 500;
  cursor: pointer;
}
.home-section2 .article3 div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.home-section2 i.fa-user-tie {
  color: var(--dominant);
  font-size: var(--xxl);
}
.home-section2 i.fa-youtube {
  color: red;
  font-size: var(--xxl);
}
.home-section2 i.fa-twitch {
  color: rgb(98, 0, 255);
  font-size: var(--xxl);
}
.home-section2 i.fa-kickstarter {
  color: rgb(0, 255, 0);
  font-size: var(--xxl);
}
.home-section2 button {
  font: var(--m) var(--font);
  background-color: var(--accent2);
  padding: 0.5rem 1.5rem;
  border-radius: 1vh;
  box-shadow: 0 0 0.1rem 0.1rem var(--accent3);
}
.home-section2 button:hover {
  box-shadow: 0 0 1.3rem 1px var(--accent1);
}
.home-section2 .article1 button {
  color: var(--dominant);
  box-shadow: 0 0 0.1rem 1px var(--dominant);
}
.home-section2 .article2 button {
  color: red;
  box-shadow: 0 0 0.1rem 1px red;
}
.home-section2 .article3 button {
  color: rgb(98, 0, 255);
  box-shadow: 0 0 0.1rem 1px rgb(98, 0, 255);
}
.home-section2 .article1 button:hover {
  color: var(--dominant);
  box-shadow: 0 0 1.3rem 1px var(--dominant);
}
.home-section2 .article2 button:hover {
  color: red;
  box-shadow: 0 0 1.3rem 1px red;
}
.home-section2 .article3 button:hover {
  color: rgb(0, 255, 0);
  box-shadow: 0 0 1.3rem 1px rgb(0, 255, 0);
}
.home-section3 {
  background-color: var(--dominant);
  color: var(--accent1);
  font-size: var(--m);
  display: grid;
  width: min(100%, 100%);
}
.home-article {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.home-article p {
  margin: 0;
}
.home-section3 .article1 {
  font-size: var(--l);
  display: grid;
  align-content: center;
}
.home-section3 .article1 h1 {
  font-size: var(--xl);
  display: inline;
}
.home-section3 .article2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-weight: 400;
}
.home-section3 .article2 i.fa-youtube {
  color: red;
  margin-right: 2%;
}
.home-section3 .article2 i.fa-twitch {
  color: rgb(98, 0, 255);
  margin-right: 2%;
}
.home-section3 .article2 i.fa-envelope {
  color: var(--accent1);
}
.home-section3 .name {
  font-weight: bold;
}
.home-section3 .description {
  margin-top: 5%;
  margin-bottom: 5%;
}

.home-section3 .article3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-section3 .article3 .contactus {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 1rem;
}
.home-section3 .article3 button {
  font: var(--m) var(--font);
  background-color: var(--accent2);
  padding: 0.5rem 1.5rem;
  box-shadow: 0 0 1rem 0.1rem var(--accent2);
}
.home-section3 .article3 a {
  background-color: var(--accent1);
  padding: 0.5rem 1.5rem;
  margin: 1rem 0;
  transition: all 0.2s ease-in-out;
}
.home-section3 .article3 button:hover {
  transform: translateY(-0.5em);
  color: var(--dominant);
  box-shadow: 0 0 1rem 0.1rem var(--accent1);
}
.home-section3 .article3 a:hover {
  transform: translateY(-0.5em);
  color: var(--accent2);
  box-shadow: 0 0 1rem 0.1rem var(--accent1);
  background-color: var(--accent3);
  border-radius: 1vh;
}
.home-section4 {
  background-color: var(--accent2);
  color: var(--accent1);
  font-size: var(--l);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min(100%, 100%);
}
.home-section4 .article {
  flex: 2;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-section4 h1 {
  font-size: var(--xxxl);
}
.home-section4 p {
  font-size: var(--xl);
  margin: 0;
}
.home-section4 .article span {
  font-weight: bold;
}
footer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
footer .upper {
  margin: 8vh 0;
}
footer .section2 a {
  font-size: var(--m);
  transition: all 0.3s ease-in-out;
  font-weight: 400;
}
footer .section2 a:hover {
  border-bottom: 1px solid var(--dominant);
}
footer .upper img {
  margin-bottom: 2vh;
  transition: all 0.2s ease-in-out;
}
footer .upper img:hover {
  transform: scale(1.2, 1.2);
}
footer .down {
  font-size: var(--m);
  padding-top: 2vh;
  margin-bottom: 5vh;
  border-top: 1px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 200;
}
footer .down a {
  transition: all 0.2s ease-in-out;
}
footer .down a:hover {
  text-shadow: 0 0 1vh white;
}
